*{
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body, html, #example-wrapper{
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    font-family:sans-serif;
}

#example-size-picker{
    position:absolute;
    z-index: 2;
    top:0;
    left:0;
    width:100%;
    height:40px;
    background:#000;
    color:#fff;
    margin:0;
}

#example-size-picker ul{
    float:right;
    margin:0;
    padding:0;
}

#example-size-picker li {
    float:right;
    color:#fff;
    list-style:none;
    padding:0 20px;
    line-height:40px;
    border-left:1px solid rgba(255, 255, 255, .15);
    cursor:pointer;
}

#example-size-picker li:hover{
    background:rgba(255, 255, 255, .2);
}
#example-outer{
    height:100%;
}
#example{
    height:100%;
    width:100%;
    padding-top:40px;
    margin:0 auto;
}

#example[data-size=large]{
    height:619px;
    width:1100px;
	margin-top:20px;
}

#example[data-size=mobile]{
    height:570px;
    width:322px;
	margin-top:20px;
}